body {
    font-family: Arial, sans-serif;
    background-color: rgb(196, 196, 239);
  }
  
  .container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    height: 225px;
    width: 330px;
    box-shadow: 2px 5px 6px 0px black;

  }
  
  input {
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
    border: 2px solid rgb(32, 28, 28);
    transition: 0.1s ease-in-out;
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 55px;
    background-color: blue;
    transition: 0.1s ease-in;
    color: white;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
  }
  

  button:hover{
    transform: scale(1.1);
    background-color: rgb(85, 85, 252);
  }
  input:focus{
    transform: scale(1.1);
  }